<?xml version="1.0"?>
<robot name="ur5_gr" xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:include filename="$(find ee_ur5e_description)/urdf/inc/ur5e_macro.xacro"/>
  <xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model_macro.xacro" />


  <xacro:ur5e_robot prefix=""/>

  <link name="wrist_camera_link">
    <visual>
      <origin xyz="0 0 0.0112" rpy="0 0 ${pi}"/>
      <geometry>
          <cylinder length="0.0224" radius="0.036"/>
      </geometry>
      <material name="wrist_color">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
      <geometry>
          <cylinder length="0.0224" radius="0.036"/>
      </geometry>
    </collision> -->
    <!-- <xacro:cylinder_inertial radius="${shoulder_inertia_radius}" length="${shoulder_inertia_length}" mass="${shoulder_mass}">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:cylinder_inertial> -->
  </link>

  <joint name="wristcam_2_ur5_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="tool0"/>
      <child link="wrist_camera_link"/>
  </joint> 


  <joint name="gripper_2_wristcam_joint" type="fixed">
      <origin xyz="0 0 0.024" rpy="0 0 0" />
      <parent link="wrist_camera_link"/>
      <child link="gripper140robotiq_arg2f_base_link"/>
  </joint> 


 
  <xacro:robotiq_arg2f_140 prefix="gripper140"/>

  

</robot>



