<?xml version="1.0"?>
<robot name="ur5_gr" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find ee_ur5e_gazebo)/urdf/inc/ur5e_macro.xacro"/>
  <xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model_macro.xacro" />
  <xacro:ur5e_robot prefix=""/>

  <link name="wrist_camera_link">
    <visual>
      <origin xyz="0 0 0.0112" rpy="0 0 0"/>
      <geometry>
          <!-- <cylinder length="0.0224" radius="0.036"/> -->
        <mesh filename="package://ee_ur5e_description/meshes/ur5e/visual/wristcamera_vis.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="wrist_color">
        <color rgba="0.047 0.047 0.047 0.9"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0112" rpy="0 0 0"/>
      <geometry>
          <cylinder length="0.0224" radius="0.036"/>
      </geometry>
    </collision> -->
    <inertial>
      <origin xyz="0 0 0.0112" rpy="0 0 0" />
      <mass value="0.160" />
      <inertia
        ixx="5.85301333333E-05"
        ixy="0"
        ixz="0"
        iyy="5.85301333333E-05"
        iyz="0"
        izz="0.00010368" />
    </inertial>
  </link>

    <link name="d435_link">
    <visual>
      <origin xyz="0 0 0.0112" rpy="0 0 0"/>
      <geometry>
          <mesh filename="package://ee_ur5e_description/meshes/ur5e/visual/holdD435_vis.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="d435i_color">
        <color rgba="0.80 0.80 0.80 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0112" rpy="0 0 0"/>
      <geometry>
           <mesh filename="package://ee_ur5e_description/meshes/ur5e/collision/holdD435.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision> -->
    <inertial>
      <origin xyz="0 0 0.0112" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia
          ixx="3.65813333333E-07"
          ixy="0"
          ixz="0"
          iyy="3.65813333333E-07"
          iyz="0"
          izz="6.48E-07" />
    </inertial>
  </link>


  <link name="Table_link">
    <visual>
      <origin xyz="0 0 0.46" rpy="0 0 0"/>
      <geometry>
          <box size="1.82 1.22 0.935"/>
      </geometry>
      <material name="table_color">
        <color rgba="0.156 0.392 0.282 0.95"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.46" rpy="0 0 0"/>
      <geometry>
           <box size="1.82 1.22 0.935"/>
      </geometry>
    </collision> -->
    <inertial>
      <origin xyz="0 0 0.46" rpy="0 0 0" />
      <mass value="1000" />
      <inertia
          ixx="348.885416667"
          ixy="0"
          ixz="0"
          iyy="196.885416667"
          iyz="0"
          izz="400.066666667" />
    </inertial>
  </link>

    <link name="Mount_link">
    <visual>
      <origin xyz="0 0 0.46" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.935"/>
      </geometry>
      <material name="mount_color">
        <color rgba="0.76 0.76 0.76 0.95"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.46" rpy="0 0 0"/>
      <geometry>
        <box size="0.5 0.5 0.935"/>
      </geometry>
    </collision> -->
    <inertial>
      <origin xyz="0 0 0.46" rpy="0 0 0" />
      <mass value="1000" />
      <inertia
          ixx="93.6854166667"
          ixy="0"
          ixz="0"
          iyy="41.6666666667"
          iyz="0"
          izz="93.6854166667" />
    </inertial>
  </link>

  <link name="world_ground">
    <visual>
      <origin xyz="0 0 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="5 5 0.01"/>
      </geometry>
      <material name="ground_color">
        <color rgba="0.216 0.392 0.67 0.9"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.005" rpy="0 0 0"/>
      <geometry>
        <box size="5 5 0.01"/>
      </geometry>
    </collision> 
    <inertial>
      <origin xyz="0 0 0.005" rpy="0 0 0" />
      <mass value="100000" />
      <inertia
          ixx="208334.166667"
          ixy="0"
          ixz="0"
          iyy="416666.666667"
          iyz="0"
          izz="208334.166667" />
    </inertial>
  </link>
  

  <joint name="wristcam_2_ur5_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <parent link="tool0"/>
      <child link="wrist_camera_link"/>
  </joint> 


  <joint name="gripper_2_wristcam_joint" type="fixed">
      <origin xyz="0 0 0.024" rpy="0 0 1.57" />
      <parent link="wrist_camera_link"/>
      <child link="gripper140robotiq_arg2f_base_link"/>
  </joint> 

  <joint name="d435_joint" type="fixed">
      <origin xyz="0 0 -0.04" rpy="0 0 0" />
      <parent link="tool0"/>
      <child link="d435_link"/>
  </joint> 

  <joint name="Table_base" type="fixed">
      <origin xyz="0 0.67 0" rpy="0 0 0" />
      <parent link="Table_link"/>
      <child link="Mount_link"/>
  </joint> 

  <joint name="Mount_ur5e_base" type="fixed">
      <origin xyz="0 0  0.935" rpy="0 0 0" />
      <parent link="Mount_link"/>
      <child link="base_link"/>
  </joint> 

  <joint name="groundjoint" type="fixed">
    <parent link="world_ground"/>
    <child link="Table_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>


  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="world_ground"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:robotiq_arg2f_140 prefix="gripper140"/>
</robot>



